
name: Daily Forecast

on:
   schedule:
   - cron: "0 14 * * *"
   workflow_dispatch:
  
env:
    MAIL_USER_EMAIL: ${{secrets.MAIL_USER_EMAIL}}	  
    MAIL_USER_PASSWORD: ${{secrets.MAIL_USER_PASSWORD}}																 
    MAIL_FROM: ${{secrets.MAIL_FROM}}
    MAIL_TO: ${{secrets.MAIL_TO}}
    ACCUWEATHER_API_KEY: ${{secrets.ACCUWEATHER_API_KEY}}
jobs:
  report:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
       

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
     
    - run: npm ci
    - run: node src/main.js
